.cardContainer {
  background-color: #272727;
  display: flex;
  width: 70%;
  margin: 0 auto;
  border-radius: 5rem;
  padding: 7rem 5rem;
  position: relative;
  top: 8.5rem;
}
.textWrapper {
  display: flex;
  flex-direction: column;
  width: 55.2%;
  margin-right: 3.2rem;
  align-items: center;
}
.discoverText {
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: 5rem;
  line-height: 1.2;
  color: var(--color-white);
  margin-bottom: 4.3rem;
  text-align: center;
}

.btn {
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  padding: 0.7rem 4rem;
  font-weight: 500;
  color: var(--color-white);
  background-color: rgb(251, 147, 0);
  border: none;
  border-radius: 3rem;
  height: 6rem;
  width: 22rem;
}

.img {
  width: 20rem;
}
