.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  padding: 4rem 5rem;
  background-color: #f3f4f6;
  border-radius: 4px 4px 0 0;
}

.links {
  display: flex;
  align-items: center;
  flex-basis: 45%;
}
.links li {
  margin: 0 1rem;
}
.links a {
  font-family: var(--font-roboto);
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.logo_image {
  flex-basis: 10%;
  max-width: 10rem;
}

.others {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 14%;
}
.languages {
  width: 40px;
  height: 40px;
  background-color: peru;
  border-radius: 50%;
}

.signUpBtn {
  background-color: var(--color-red);
  font-size: 1.8rem;
  text-align: center;
  font-family: var(--font-roboto);
  color: var(--color-white);
  border: transparent;
  padding: 0.6rem 3rem;
  font-weight: 500;
  border-radius: 3rem;
}
