.card_container {
  display: flex;
  width: 76%;
  margin: 10% auto;
  justify-content: space-between;
  align-items: flex-start;
}
.card_text_wrapper {
  width: 50%;
}
.card_title {
  font-family: var(--font-roboto);
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 3rem;
}

.card_text {
  font-size: 2.2rem;
  font-family: var(--font-roboto);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-gray-second);
}
